* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #ffb685;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Title {
  color: rgb(15, 15, 15);
  text-align: center;
  margin: auto;
  font-size: 55px;
}
.Title span {
  color: #ff5804;
  /* filter: drop-shadow(rgba(241, 94, 8, 0.2)); */
}
.app-container {
  padding: 20px 30px;
  margin-inline: auto;
  max-width: 700px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.progress-bar{
 background-color: black;
 height: 20px;
 position: relative;
 margin-top: 10px;
 border-radius: 15px;
}
.progress-bar span{
position: absolute;
color: white;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.progress-bar-inside{
 background-color: #fa6419;
 height: 100%;
 width: 0%;
 /* margin-top: 10px; */
 border-radius: 15px;
 transition: width 3s ease-in-out;
}

.error{
background-color: rgb(255, 221, 208);
padding: 2px 5px;
border-radius: 5px;
color: red;
width: fit-content;
font-size: 13px;
margin-top: 6px;
}

.input-field{
    margin-top: 18px;
    /* padding: 5px; */
    width: 100%;
    background-color: rgb(231, 228, 228);
    height: 38px;
    display: flex;
}

.input-field input{
    width: 90%;
    height: 100%;
    border: none;
    color: #f75709;
    background-color: transparent;
    outline: none;
    padding: 10px;
    font-size: 15px;
}
.input-field button{
    width: 10%;
    height: 100%;
    border: none;
    color: #f75709;
   background-color: black;
   transition: all 0.5s ease;
}
.input-field button:hover{
    
   background-color: rgba(14, 13, 13, 0.842);
}
.input-field button:hover span{
    transform: scale(1.5)
}
.input-field span{
font-size: 23px;
font-weight: 800;
}


.goal-container{
    /* height: 1px; */
    width: 100%;
    padding:20px 15px;
    display: flex;
   
    background-color: white;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #f75709;
    font-size: 16px;
    font-weight: 700;

    margin: 18px 0;
    /* box-shadow: #b96c45; */
    border: 1px solid red;
    justify-content: space-between;

}
.goal-container .goal-desc{
    /* height: 1px; */
    width: 100%;
    
    align-items: center;
    display: flex;
     gap: 16px;

}
.goal-container button{
    padding: 8px;
    background-color: #f75709;
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;

}

.goal-checkbox{
    height: 18px;
    width: 18px;
    border: 0.5px solid rgb(219, 218, 218);
    border-radius: 50%;
}
.checked{ 
    background-color: #f75709;
}


.completed{
  text-decoration: line-through;
  opacity: 0.6;
  /* background: #000; */
}